.App {
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.alaing{ 
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: center;
  
 

 
  
}
.None{
  text-decoration: none;
  color: black;
 text-align: center;
 background-color: rgb(132, 210, 212);
  
  
  
}
.space{
  margin-left: 5px;
  margin-top: 10px;
}

.contador{
  margin-left: 5px;
  margin-right: 5px;
}
.space2{
  margin-top: 10px;
}

.margintop{
  margin-top: 100px;
  text-align: center;
  
}
.footertext{
  font-size: bold;
}
.size{
  width: 500px;
  height: 450px;
  border-radius: 5px;
}
.item{
  margin-top: 40px;

}

.carddetail{
  margin-top: 75px;
}
.bgcolor{
  background-color:  rgb(132, 210, 212);
}